
@keyframes show {

    0%
    {
        opacity: 0;
    }

    100%
    {
        opacity: 100%;
    }

}

@keyframes to-the-right {

    0%
    {
      padding-left: 0;
      padding-right: 0;
    }


    100%
    {
        padding-left: 3px;
        padding-right: 3px;
    }

}

@keyframes to-the-right-option {

    0%
    {
      padding-left: 0;
     
    }

    50%
    {
        padding-left: 15px;
    }

    100%
    {
        padding-left: 30px;
    }

}


body
{
    background: linear-gradient(90deg, #000000 50%, rgb(235, 189, 6) 50%);
    font-family: 'monospace','roboto','courier';
    color: white;
    cursor: url(../Design/assets/katana3.cur), pointer;;
}

body, p, h1, h2, ul
{
    margin: 0;
    padding: 0;
}

i
{
    color: white;
}

.container
{
    display: grid;
    grid-template-rows: 0.1fr 0.6fr 0.5fr 0.5fr 0.04fr;
    height: 240vh;
}

.header
{
   width: 100%;
}

    .main 
    {
        list-style: none;
        display: flex;
        flex-direction: row;
        padding: 2%;
    }

        .option-2, .option-3
        {
            padding-left: 10px;
        }


            .link
            {
                text-decoration: none;
                text-transform: uppercase;
                color: white;
                font-weight: bold;
            }

            .icon:hover, .link:hover
            {
                color: rgb(235, 189, 6);
                cursor: url(../Design/assets/katana1.cur), pointer;;
            }

            .icon:hover~.content
            {
                display: inline-block;
                animation: to-the-right 3s, show 1s;
            }

            .icon:hover~.option
            {
                animation: to-the-right-option 3s;
            }

                .content
                {
                    display: none;
                    padding-left: 3px;
                    padding-right: 3px;
                }

               
.title
{
    text-align: center;
    align-self: center;
    
}
    .head
    {
        background: linear-gradient(90deg, #fff 49%, #000000 50%);
        background-clip:text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: uppercase;
        font-style: italic;
        margin-left: 5px;
    }

    .head-1
    {
        font-size: 35pt;
    }
    .head-2
    {
        
        font-size: 20pt;
        background: linear-gradient(90deg, #fff 49%, #000000 45%);
        margin-left: 20px;
        background-clip:text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.profile 
{
    display: grid;
    grid-template-columns:3fr 3fr;
    grid-template-rows: none;
    align-items: center;
    justify-items: center;
}

    .profile-card
    {
        width:400px;
        height:500px;
        background: linear-gradient(30deg, rgb(247, 199, 6) 68%, rgb(0, 0, 0) 10%);
        border-radius: 5px;
        display: grid;
        
    }

    .profile-title
    {
        justify-self: end;
        margin-top: 65px;
        margin-right: 27px;
    }

    .basic-info
    {
        grid-template-rows: 0.2fr 0.3fr 0.2fr 0.2fr;
        box-shadow: 0px 0px 20px white;
    }
        .profile-face
        {
                width: 120px;
                height: 120px;
                border-radius: 50%;
                margin-left: 25px;
        }

        .info-p
        {
           
            color: black;
            font-weight: bold;
            justify-self: start;
            margin-left: 20px;
            width: 70%;
        }

        

    .job
    {
        grid-template-rows: 0.5fr 0.2fr 0.2fr;
        box-shadow: 0px 2px 20px black;
    }

.container-cards
{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
}

/* .card
{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.card-content
{
    width: 430px;
    height: 390px;
    background: linear-gradient( rgb(236, 197, 56) 20%, rgb(232, 210, 128) 20%);
    border-radius: 10%;
    display: grid;
    box-shadow: 0px 2px 20px black;
    justify-self: center;
    align-self: center;
}

.card-title
{
    margin-top: 35px;
    color: #000000 ;
    font-weight: bold;
    text-transform: uppercase;
    justify-self: center;
}

.footer
{
    width: 100%;
    background-color: #000000;
}
    .footer-main
    {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style: none;
    }

        /* .foot
        {

        } */
        
        .foot-1,.foot-2,.foot-3
        {
            padding-left: 25px;
        }


/* Media querys */

@media (max-width: 1650px) 
{

    .container
    {
        height: 340vh;
        grid-template-rows: 0.1fr 0.95fr 0.7fr 1.9fr 0.04fr;
    }

    .container-cards
    {
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr 1fr;
    }



   /*

    .card-content
    {
        width: 600px;
        height: 500px;
    }

    .card-title
    {
        margin-top: 35px;
    } */
}


@media (max-width: 1000px) 
{
    
    .profile-face
    {
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }

    .info-p
    {
        font-size: 9pt;
    }
   

    .profile-card
    {
        width:320px;
        height:400px;
        font-size: 12pt;
    }

   
}



@media (max-width: 550px) 
{
    .container
    {
        grid-template-rows: 0.01fr 0.5fr 0.6fr 0.7fr 0.04fr;
    }

    .profile 
    {
        grid-template-columns: none;
        grid-template-rows: 2fr 2fr;
    }

    .profile-card
    {
        width: 236px;
        height: 300px;
        box-shadow: 0px 2px 20px black;
    }

    .profile-title
    {
        font-size: 10pt;
        margin-top: 12px;
        margin-right: 22px;
        margin-top: 20px;
    }

    .info-p
    {
        font-size: 8pt;
    }
   
    .profile-face
    {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }

    
    
    .card-content
    {
        width: 246px;
        height: 220px;
    }

    .head-1
    {
        font-size: 23pt;
    }

    .head-2
    {
        font-size: 16pt;
    }

    .icon:hover~.content
    {
       display: none;
    }

    .icon:hover~.option
    {
       animation: none;
    }

    .card-title
    {
        font-size: 11pt;
        margin-top: 7%;
    }

    .container-cards
    {
        grid-template-rows: 0.3fr 0.3fr 0.3fr;
    }

    .foot
    {
        font-size: 11pt;
    }

    
}