
:root {
    --main-color: #1E1849;
    --secondary-color: #9178FE;
    --main-font: 'Rochercolor';
    --secondary-font: 'Roboto';
    --main-header: 4.8em;
    --secondary-header: 2.4em;
    --parragraph-s1: 1.2em;
}

@font-face {
    font-family: 'RocherColor';
    src: url('../css/fonts/RocherColorGX-d8976ca5.woff2') format('woff2'),
    url('../css/fonts/RocherColorGX-d8976ca5.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}



* {
    margin: 0;
    padding: 0;
    border: 0;
  }

body
{
    font-family: var(--secondary-font);
    background: var(--main-color) ;
    color: #fff;
}

.container, .home
{
    display: grid;
}


.container
{
    grid-template-rows: 5vh 95vh 100vh 100vh 100vh;
}

/* Inicio menú de navegación */

.navBar, .list, .desc
{
    display: flex;
}


.navBar
{
    justify-content: center;
    background: var(--main-color) ;
}

    .list
    {
        flex-direction: row;
        list-style: none;
        position: fixed;
    }

        .listCol
        {
            padding: 15px;
        }

            .link
            {
                font-family: var(--secondary-font);
                color: #fff;
                text-decoration: none;
                text-transform: uppercase;
                font-size:  1.4em;
            }

/* Fin menú de navegación */

/* Inicio página principal */

.home
{
    background: linear-gradient(to right bottom , var(--main-color)  50%, var(--secondary-color) 50%);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 95vh;
}

.desc
{
    flex-direction: column;
    justify-self: center;
}

.desc > h2
{
    padding-top: 15vh;
    font-size: var(--main-header);
    font-family: var(--main-font);
}

.desc > h3
{
    padding-top: 20px;
    text-align: center;
    font-size: var(--secondary-header);
    font-family: var(--secondary-font);
}

.desc > p
{
    padding-top: 5vh;
    font-family: var(--secondary-font);
    font-size: var(--parragraph-s1);
}