* {
    margin: 0;
    padding: 0;
    border: 0;
  }

@font-face {
    font-family: 'RocherColor';
    src: url('../css/fonts/RocherColorGX-d8976ca5.woff2') format('woff2'),
    url('../css/fonts/RocherColorGX-d8976ca5.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container
{
    display: grid;
    grid-template-rows: 5vh 95vh 100vh 100vh 100vh;
}

/* Inicio menú de navegación */

.navBar
{
    display: flex;
    justify-content: center;
    background: #1E1849 ;
}

    .list
    {
        display: flex;
        flex-direction: row;
        list-style: none;
        position: fixed;
    }

        .listCol
        {
            padding: 15px;
        }

            .link
            {
                color: whitesmoke;
                text-decoration: none;
                text-transform: uppercase;
                font-size:  1.4em;;
            }

/* Fin menú de navegación */

/* Inicio página principal */

.home
{
    background: linear-gradient(to right bottom , #1E1849  50%, #9178FE 50%);
}
/* Fin página principal */

/* Inicio página experiencia */
.exp
{
    background: #1E1849;
    display: grid;
    grid-template-rows: 25vh 22vh 10vh 21vh;
}
/* Fin página experiencia */

/* Inicio página proyectos */
.apps
{
    background: linear-gradient(to right bottom , #9178FE 69.9%, #1E1849 69.9%);
    display: grid;
    grid-template-rows: 19vh 59vh;
}
/* Fin página proyectos */

/* Inicio página sobre mí */
.about
{
    background: linear-gradient(to right top , #1E1849 70%, #9178FE 70%);
    display: grid;
    grid-template-rows: 25vh 53vh;
}
/* Fin página sobre mí */